<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programa en detalle</title>
</head>
<body>
    <div class="container">
        <h1>Detalle del Programa</h1>
        <h3><strong>Nombre:</strong> <span th:text="${programa.name}"></span></h3>
        <h3><strong>Nivel de estudio:</strong> <span th:text="${programa.level_study}"></span></h3>
        <h3><strong>Creditos:</strong> <span th:text="${programa.credits}"></span></h3>
        <h3><strong>Estado:</strong> <span th:text="${programa.status}"></span></h3>
    </div>
</body>
</html>