<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoriales</title>
</head>
<body>
    <div class="container">
        <h3> Lista de Tutoriales </h3>
        <table border="2">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>URL</th>
                    <th>Fecha</th>
                    <th>Autor</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tutorial : ${tutorialListAttribute}">
                    <td th:text="${tutorial.id}"></td>
                    <td th:text="${tutorial.name}"></td>
                    <td th:text="${tutorial.descripcion}"></td>
                    <td th:text="${tutorial.url}"></td>
                    <td th:text="${tutorial.fecha}"></td>
                    <td th:text="${tutorial.autor}"></td>
                    <td th:text="${tutorial.estado}"></td>
                    <td>
                        <a th:href="@{'/showTutorial/' + ${tutorial.name}}" target="_blank">Ver en detalle</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

